@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0a0a0f;
  color: #e4e1e9;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

.glass-card {
  background: rgba(22, 22, 30, 0.7);
  backdrop-filter: blur(32px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.btn-gradient {
  background: linear-gradient(135deg, #02569b 0%, #00bea4 100%);
  transition: all 0.3s ease;
}

.btn-gradient:hover {
  box-shadow: 0 0 20px rgba(0, 190, 164, 0.4);
  transform: translateY(-2px);
}

.text-gradient {
  background: linear-gradient(135deg, #a4c9ff 0%, #44ddc1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}
.swiper-button-prev,
.swiper-button-next {
  width: 35px !important;
  height: 35px !important;
  border-radius: 50%;
  padding: 7px;
  background-color: rgba(220, 220, 220, 0.8);
  backdrop-filter: blur(10px);
  color: black !important;
  z-index: 50 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 16px !important;
  font-weight: 700;
}

/* Mobile */
@media (max-width: 640px) {

  .swiper-button-prev,
  .swiper-button-next {
    width: 28px !important;
    height: 28px !important;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 12px !important;
  }

  .swiper-button-prev {
    left: 5px !important;
  }

  .swiper-button-next {
    right: 5px !important;  
  }
}